:root {
    --borders-main: #6a6a6a;
}

/*-- GLOBAL STYLES --*/
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.container { 
    padding: 20px; 
}

header h1 { 
    margin: 0;
    padding: 25px 0 25px 25%;
    background: linear-gradient(to left, #465ab8, #261360); 
    color: #fff;
    font-weight: bold;
    text-align: center;
}

h3 { 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.75rem;
}

/*-- LEFT COLUMN STYLES --*/

aside input[type="text"] { 
    width: 100%; 
    padding: 8px 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid var(--borders-main);
}

aside button {
    width: 100%; 
    padding: 8px;
    text-align: center;
    border: none;
    color: #fff;
    box-sizing: border-box;
    background-color: #6991e3;
    display:block;
}

aside button:hover {
    background-color: #8db2fc;
    transition: background-color 0.4s ease;
}

aside ul {
    margin: 20px 0 0 0;
    padding: 20px 0 0 0;
    border-top: 1px solid #a4a4a4;
    list-style: none;
}

aside ul li {
    background-color: #aeaeae;
    padding: 8px 0;
    margin: 0 0 20px;
    text-align: center;
    cursor: pointer;
    text-transform: capitalize;
}

button, input, li { 
    border-radius: 6px; 
}

/*-- MAIN PAGE STYLES --*/

#forecast-today {
    border: 1px solid  var(--borders-main);
    padding: 20px; 
}

#forecast-today h3 {
    display: flex;
    flex-direction: row;
    line-height: 50px;
    text-transform: capitalize;
}

#forecast-today img {
    height: 50px;
    width: auto;
}